*{
    box-sizing: border-box;
}
body{
    width: 98%;
    font-family: 'Franklin Gothic Medium';
    margin: auto;
}
nav{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(219, 160, 83);
}
 .nav-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
 .nav-menu li{
    margin: 5px;
    transition: all 2s;
}
 .nav-menu .nav-item{
    text-decoration: none;
    font-size: 1.2rem;
    color: black;
    padding: 12px;
    position: relative;
    
}
 .nav-menu .nav-item:active,.nav-menu .nav-item.active{
    color: rgb(219, 160, 83);
}

.nav-item::before{
    content:'';
    width: 0;
    height: 2px;
    background-color: burlywood;
    position: absolute;
    bottom: 0;
    left: 10%;
}
.nav-menu .nav-item:hover::before{
    animation-name: move1;
    animation-duration: 0.3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.nav-menu .nav-item::after{
    content:'';
    width: 0;
    height: 2px;
    background-color: #000;

    position: absolute;
    right: 5%;
    bottom: -4px;
}
.nav-menu .nav-item:hover::after{
    animation:move2 0.3s linear forwards;
}
nav .fa-bars{
    font-size: 1.5rem;
    position: absolute;
    top: 26px;
    right: 20px;
    display: none;
}
@keyframes move1{
    form{
        width: 0;
    }
    to{
        width: 80%;
    }
}
@keyframes move2 {
    from{
        width: 0;
    }
    to{
        width: 90%;
    }
}


@media (max-width:650px){
    .nav-menu{
        width: 100%;
        text-align: center;
        display: none;
        /* background-color: bisque; */
        position: absolute;
        top: 13.5%;
        left: 0;
    }
    .nav-menu.show{
        display: block;
    }
    .nav-menu li{
        border-bottom:1px solid bisque;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .nav-menu .nav-item{
        padding: 10px;
    }
    nav .fa-bars{
        display: block;
    }
}

