<!DOCTYPE html>
<html>
<head>
    <title>Fashion</title>
    <link href="../libs/fontawesomepro/css/all.min.css" rel="stylesheet" type="text/css"/>
    <link href="../css/fashion.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <div class="brand">
                <h2>Khin Yone</h2>
            </div>
            
            <ul class="nav-menu">
                <li><a href="index.html" class="nav-item">HOME</a><i class="fas fa-triangle"></i></li>
                <li><a href="#" class="nav-item active">FASHION</a><i class="fas fa-triangle"></i></li>
                <li><a href="course.html" class="nav-item">COURSE</a><i class="fas fa-triangle"></i></li>
                <li><a href="contact.html" class="nav-item">CONTACT</a><i class="fas fa-triangle"></i></li>
            </ul>
        </nav>
    </header>
    <div class="bundel">
        
    </div>
</body>
</html>