<!DOCTYPE html>
<html>
<head>
    <title>Khin Yone Fashion</title>
    <link href="../css/home.css" rel="stylesheet" type="text/css"/>
    <link href="../libs/fontawesomepro/css/all.min.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header>
        <nav>
            <div class="brand">
                <h2>Khin Yone</h2>
            </div>
            <ul class="nav-menu">
                <li><a href="#" class="nav-item active">HOME</a></li>
                <li><a href="fashion.html" class="nav-item">FASHION</a></li>
                <li><a href="course.html" class="nav-item">COURSE</a></li>
                <li><a href="contact.html" class="nav-item">CONTACT</a></li>
            </ul>
            <i class="fas fa-bars"></i>
        </nav>
    </header>

    <script src="../js/home.js" type="text/javascript"></script>
</body>
</html>